<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <title>수강신청 Update</title>
</head>
<body>
<div class="container">
    <h3>Update Course</h3>
<!--    Lesson부분 수업명-->
    <form action="#" th:action="@{lesson/update/{id}(id=${lesson.id})}" th:object="${lesson}" method="post">
        <div class="form-group col-md-8">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="col-md-6">
            <input type="submit" class="btn btn-primary" value="수정">
        </div>
    </form>

<!--    Student부분 학생명-->
    <form action="#" th:action="@{/update/{id}(id=${student.id})}" th:object="${student}" method="post">
        <div class="form-group col-md-8">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="col-md-6">
            <input type="submit" class="btn btn-primary" value="수정">
        </div>
    </form>>

</div>
</div>
</body>
</html>

